/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(89, 85, 85);

}

.search-bar {
    margin-right: 20px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: white;
}

header {
    background-color: #323235;
    padding: 13px;
    text-align: center;
}

header a {
    color: white;
    text-decoration:none;
    margin-left: 20px;
    flex-direction:column;
}

header a i {
    margin-bottom: 5px; 
    color: rgb(247, 242, 242); 
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(128, 126, 143);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    background-color: #ddd; /* Adicione uma cor de fundo padrão para casos em que a imagem não é carregada */
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(77, 74, 74);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: black; /* Cor do texto dentro do container de perfil (pode ser ajustada conforme necessário) */
}

.info-section {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.experience p {
    margin: 8px 0;
    line-height: 1.4;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    height: 100vh;
    justify-content: center;

}

h1 {
    text-align: center;
}

#search-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

#job-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.job-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.job-title {
    font-weight: bold;
}

.job-description {
    margin-top: 10px;
}